.container {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(135deg, #0a0a0a 0%, #111 100%);
}

/* ============================================================
                  LADO IZQUIERDO
        ============================================================ */

.left {
  flex: 1;

  height: 100%;

  display: flex;
  align-items: center;
  /*justify-content: center;*/
  
  justify-content: flex-start; /* Alinea el contenido al inicio del contenedor */
  flex-direction: column; /* Alinea los elementos verticalmente */

  background-color: #0a0a0a;
  padding: 40px;

  overflow-y: auto; /* Permite desplazamiento vertical si el contenido es demasiado alto */
  overflow-x: hidden; /* Evita desplazamiento horizontal */
}

.left::-webkit-scrollbar {
  width: 6px;
}

/* El fondo por donde corre la barra (Totalmente transparente) */
.left::-webkit-scrollbar-track {
  background: transparent;
}

/* La barrita que se mueve (El indicador) */
.left::-webkit-scrollbar-thumb {
  /* Usamos un color blanco sutil adaptado a tu fondo oscuro, controlado por la variable */
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  /* Transición fluida para que aparezca y desaparezca suavemente */
  transition: background-color 0.3s ease;
}

/* Cuando pasas el mouse DIRECTAMENTE sobre la barrita, se enciende un poco más */
.left:hover::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
}

.left:hover::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.35);
}

.form {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.04);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.25);
  opacity: 0; /* Inicia invisible */
  transform: translateX(-50px); /* Inicia 50 píxeles más a la izquierda */
  animation: slideInLeft 1.2s cubic-bezier(0.25, 1, 0.5, 1) forwards;
  animation-delay: 0.2s;

  
  margin-top: auto; /* Añade un margen superior para separar el formulario del borde superior */
  margin-bottom: auto; /* Añade un margen inferior para separar el formulario del borde inferior */
}

/* DECLARACIÓN DE KEYFRAMES DE IZQUIERDA A DERECHA */
@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Llega a su posición original */
  }
}

.formRow {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 16px;
}

.title {
  font-size: 28px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 8px;
}

.subtitle {
  font-size: 14px;
  color: #888;
  margin: 0 0 24px;
}

.label {
  font-size: 13px;
  font-weight: 500;
  color: #ccc;
  margin-bottom: 6px;
}

.input {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 16px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  box-sizing: border-box;
  outline: none;
}

.input:focus {
  border-color: #666;
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
  text-align: center;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

input[type="date"] {
  color-scheme: dark;
}
/* ============================================================
                  LADO DERECHO
      ============================================================ */
.right {
  /*flex: 1;
  background-color: #fcfbfa;*/
  /*background-image: url(./assets/fondo-del-oro-52390663.webp);*/
  /*display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
  text-align: center;
  position: relative;*/



  flex: 1;
  /* Fondo base degradado cálido 
  background: linear-gradient(135deg, #eab308 0%, #ca8a04 50%, #854d0e 100%);
  background-color: #bfa530;*/
  background: radial-gradient(circle at 15% 15%, #fce96c 0%, #b29522 55%, #756010 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  text-align: center;
  position: relative;
  overflow: hidden; /* Evita que los polígonos se salgan de la pantalla */

  height: 100%;
}

.right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Primer polígono diagonal grande cruzado */
  background: linear-gradient(195deg, rgba(255, 255, 255, 0.12) 0%, transparent 70%);
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 52%);
  pointer-events: none;
  z-index: 1;
}

.right::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* Segundo polígono inferior invertido que genera los cruces de líneas 
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.15) 0%, transparent 60%);*/
  background: linear-gradient(to bottom, rgba(82, 67, 13, 0.4), rgba(71, 58, 11, 0.5));
  clip-path: polygon(0 75.5%, 100% 54.5%, 100% 100%, 0 100%);
  pointer-events: none;
  z-index: 1;
}

.adsContent,
.stackFooter {
  position: relative;
  z-index: 2; /* Salta al frente de las figuras geométricas */
}

.promoLogo {
  /*position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 24px;
  justify-content: center;*/
  /*box-shadow: 0 20px 60px rgba(0, 0, 0, 0.18);*/
  /*object-fit: cover;
  background-color: transparent; */
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-bottom: 5px;
  transform: scale(0); /* Inicia invisible/pequeño */
  animation: popIn 1.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-delay: 0.2s; 
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.05));
}


.adsContent {
    max-width: 480px;
    margin-top: auto; 
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 140px;
}

.adsText {
    transform: scale(0); /* Inicia invisible/pequeño */
    animation: popIn 1.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    animation-delay: 0.4s; /* Entra después del logo */
}

.adsText h5 {
  font-size: clamp(8px, 1vw + 4px, 28px);
  /*font-size: 28px;
  margin-bottom: 15px;*/
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  /* El color azul marino exacto de tu logo FRS para perfecta armonía corporativa */
  color: #0b3168; 
  text-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
}




.stackFooter {
  width: 100%;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*gap: 20px;*/
  gap: clamp(10px, 1vw, 20px);
  /*flex-wrap: wrap;*/
  padding-top: 25px;
  border-top: 1px solid rgba(15, 23, 42, 0.06); 
  /*transform: scale(0);
  animation: popIn 0.8s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-delay: 1.1s;
  margin-bottom: 20px;*/
}

.stackIcon {
  /* El tamaño escala entre 30px (mínimo) y 45px (máximo) */
  width: clamp(24px, 3.5vw, 45px);
  height: clamp(24px, 3.5vw, 45px);
  /*width: auto;  /* Controla el tamaño de la imagen
  height: 48px; /* Asegura un contenedor cuadrado para los logos */
  object-fit: contain; /* Evita que los logos se estiren o distorsionen */
  cursor: pointer;
  /*justify-content: space-between;*/
  display: inline-block;
  transform: scale(0); /* Inician en cero para ejecutar la animación */
  
  /* Animación sincronizada para que entren todos a la vez */
  animation: popIn 3s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
  animation-delay: 1.2s; /* Ajusta el tiempo de retraso según sea necesario */
  
  /* Transición suave para el efecto hover */
  transition: filter 0.2s ease, transform 0.2s ease;
}

.visuallyHidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 4. ANIMACIÓN DE PEQUEÑO A GRANDE (POP-IN) */
@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.mongodb:hover { filter: drop-shadow(0px 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.express:hover { filter: drop-shadow(0 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.react:hover { filter: drop-shadow(0px 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); } 
.node:hover { filter: drop-shadow(0px 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.typescript:hover { filter: drop-shadow(0px 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.cssmodules:hover { filter: drop-shadow(0px 0px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.vite:hover { filter: drop-shadow(0px 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.tanstack:hover { filter: drop-shadow(0 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }
.javascript:hover { filter: drop-shadow(0 4px 12px rgba(255,65,84)); transform: translateY(-5px) scale(1.1); }

@media (max-width: 640px) {
  .container {
    flex-direction: column;
  }

  .right {
    display: none;
  }

  .left {
    padding: 20px;
  }

  .form {
    padding: 24px;
  }

  .formRow {
    grid-template-columns: 1fr 1fr !important; 
  }
}


@media (max-width: 993px) {
  .formRow {
    grid-template-columns: 1fr; 
    gap: 12px;
    width: 100%;
  }
}

@media (max-width: 481px) {
  .formRow {
    grid-template-columns: 1fr !important; 
    gap: 12px;
    width: 100%;
  }
}

/* Estilos del Modal */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Capa oscura traslúcida */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContenido {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 400px;
  text-align: center;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}